<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476672427840-npc13sd42pep1bhjn6llnd5bgmqs361l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476672427840-npc13sd42pep1bhjn6llnd5bgmqs361l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476672427840-1lgrae4vbv4jojruahtshus3hj0qo2ej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOrKcBFcwbzB8j6h_xsDwT-rcA95DuY3w</string>
	<key>GCM_SENDER_ID</key>
	<string>476672427840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nstda.wellness.simple7</string>
	<key>PROJECT_ID</key>
	<string>bsp-kiosk</string>
	<key>STORAGE_BUCKET</key>
	<string>bsp-kiosk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476672427840:ios:8691cd9f923850d3eadca5</string>
	<key>DATABASE_URL</key>
	<string>https://bsp-kiosk.firebaseio.com</string>
</dict>
</plist>