<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157445542741-dcgqv8qgcb3g0cgvld9ce0h437sqia9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157445542741-dcgqv8qgcb3g0cgvld9ce0h437sqia9o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157445542741-rli57femn0vtjfb9qttd2bl3tldbod81.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSMrCcQxNxyjLXgv0boZSv3pWdSYdHVBg</string>
	<key>GCM_SENDER_ID</key>
	<string>157445542741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wellnesscenter.welladultclinic</string>
	<key>PROJECT_ID</key>
	<string>wellness-296bf</string>
	<key>STORAGE_BUCKET</key>
	<string>wellness-296bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157445542741:ios:d7fcaa612a010935a895dc</string>
	<key>DATABASE_URL</key>
	<string>https://wellness-296bf.firebaseio.com</string>
</dict>
</plist>